@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "PetMe";
  src: url("../public/assets/PetMe128/PetMe.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  font-family: "PetMe", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
